
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    decimal totalPrice = 0;
    int rCnt = 1;

}


<!-- breadcrumb area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/Home/Index"><i class="fa fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Payment Information !</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->
<!-- login register wrapper start -->
<div class="login-register-wrapper section-padding loginBanner">
    <div class="container">
        <div class="member-area-from-wrap">
            <div class="row">
                <!-- Login Content Start -->
                <div class="offset-md-12 col-lg-12">
                    <div class="login-reg-form-wrap">
                        <h5>Your Order Created successfully!</h5>
                        <h4>Your order details!</h4>


                        <div class="minicart-button">
                            <a href="~/User/OpenOrders"><i class="fa fa-share"></i> Go to my orders</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div> 