
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->
<!-- about us area start -->
<section class="about-us section-padding">
    <div class="container">
        <h4 class="about-sub-title">HEERANYAM-PRIVACY POLICY</h4>
        <h4>Privacy Policy: </h4>
        <p>Heeranyam Jewellery Online Store hereby declares that we take the privacy matters of the customers very seriously. We request you to read this Privacy statement very carefully as it contains vital information about the things you should expect when we collect your personal information. We appreciate all your concerns, including how we will use your personal data and the steps that we take to ensure it is safe from any abuse.</p>
        <p>Heeranyam Jewellery Online Store shall use and take care of all personal data and information in accordance with data safety regulations and protocols related to the processing of personal data and privacy, including but not limited to the General Data Protection Regulation. We are responsible as ‘controller’ of the personal information of every client for the purposes of those laws.</p>
        <p>We follow our privacy policy with the utmost sincerity so that our clients can live with complete peace of mind.  We wish you to reach every statement carefully before you continue shopping with us!  </p>
        <h4>Collection of Personal Information: </h4>
        <ul>
            <li style="list-style-type: disc;margin-left: 40px;">This statement validates the process that we use to collect the personal information of the customers. This information includes Name, Address, Email, and Phone Number. Here, the phone number should be used while registering the customer on our website or using the Mobile APP. Additionally we look for additional information such as location, network carrier, and device the client is using to browse.</li>
            <li style="list-style-type: disc; margin-left: 40px;">The solitary purpose of this activity is to sync customer preference and wish lists to serve them better and provide better recommendations based on their previous buying behavior, habit, and browsing history.</li>
            <li style="list-style-type: disc; margin-left: 40px;">We would also like to use a disclaimer here that we will be sharing the above information with our vendor (Third Party) in order to process a purchase. This is done in order to personalize the app and performing behavioral analytics</li>
        </ul>
        <p>At Heeranyam Jewellery Online Store, our primary purpose is to collect individual information. This aims at providing you with a benign, flawless, well-organized, larger customized online experience. Your consent to use the information would mean that you agree that we may use your personal information to:</p>
        <ul>
            <li style="list-style-type: disc; margin-left: 40px;">Apply our Terms and Conditions</li>
            <li style="list-style-type: disc; margin-left: 40px;">Notify you about our products, services, and promotional offers</li>
            <li style="list-style-type: disc; margin-left: 40px;">Modify, measure, and recover our services and content</li>
            <li style="list-style-type: disc; margin-left: 40px;">Gather and process payments and complete dealings</li>
            <li style="list-style-type: disc; margin-left: 40px;">Deliver the products, services, and customer support you request</li>
            <li style="list-style-type: disc; margin-left: 40px;">Resolve problems</li>
            <li style="list-style-type: disc; margin-left: 40px;">Stop hypothetically forbidden or unlawful actions</li>
            <li style="list-style-type: disc; margin-left: 40px;">Solve disagreements</li>
        </ul>
        <h4>2. Collection of Payment & Billing Information</h4>
        <p>We will collect the preferred payment information of the customer. This information would include billing name, billing address, and payment mode. Here, we would like to mention that we do not collect personal banking information such as your Bank Account, Credit or Debit Card Number, PayPal Account Details or Net banking Details or CVV details, or any other payment instrument one is using to pay the purchased item. Instead, we route such information directly to the preferred payment gateways. We consider it 100% secure in nature. </p>
        <h4>3. Usage of Information That We Collect From You </h4>
        <ul>
            <li style="list-style-type: disc; margin-left: 40px;">Refining the overall service that we provide to our customers</li>
            <li style="list-style-type: disc; margin-left: 40px;">Using this information for communication purposes using different mediums such as Email/SMS/Calling for updates regarding your purchase, new arrival, new update related to service, branding, and other marketing-related activity. </li>
        </ul>
        <h4>4. Your Consent is the Key</h4>
        <p>We value your consent at most! We look for your consent and written permission to obtain this. Our customers are free to edit, remove, or delete all information and credentials provided by them while visiting our website or using our mobile application/platform specifically while signing in or logging in to our website/ application/platform. The decision is entirely personal and we would never interfere with it. However, we always encourage them to talk to us if they have any queries or issues. We can talk and sort out the issues. To do this, the clients can always connect with our customer support team to seek specialist help and then proceed accordingly.</p>
        <h4>5. Use of Cookies on Website </h4>
        <p>As an essential part of the business websites or other website operators, Heeranyam Jewellery Online Store may also use standard technology called ‘cookies’ on this site. These are small programs or pieces of information that your browser stores on the hard drive of your computer system.  Our cookies help us with valuable information that we use to understand our customers and their behavior on the website once they visit us. We get to know who has seen which pages and advertisements. </p>
        <p>The cookies help us to determine how frequently particular pages are visited by particular customers. It also brings us potential information as to how to determine the most popular areas of the website. Our cookies also enable us to enhance your visitor experience by storing information about the products and services that you select between visits so that we can provide you with focused information each time you visit our website.</p>
        <p>Most popular web browsers inevitably admit cookies, but you can usually change your browser settings to prevent cookies from getting stored on your system. However, if you do turn cookies off, then you would not be able to get full access to the website. Turning off the cookies will limit the service that we are able to provide you.</p>
        <p>Our cookies do not stock delicate information such as your name, address, or payment details. Instead, they simply hold the ‘key’, once you sign in, or get associated with this information.  However, if you like to restrict, block, or delete cookies from our websites, or any other website, then you can use the options available with the browser. Since all the browsers are different, therefore you would need to check the ‘Help’ menu of your particular browser. You can learn how to change your cookie preferences.</p>
        <h4>6. Security & Storage Procedure</h4>
        <p>Heeranyam Jewellery Online Store has potential reasons and methods for storing your personal information. We transmit information via the highest industry standard secure server (SSL). This SSL creates a secure and encrypted website URL. When you see the https:// website address, you may consider that information you are providing is safe and secured.</p>
        <p>Heeranyam Jewellery Online Store has applied and upheld usually recognized standards to protect against the illegal access, usage, alteration, obliteration, or disclosure of your personal information. The safety of your private information is important to us. When you enter sensitive information during the registration process, we encrypt that information using state-of-the-art technology. </p>
        <p>Heeranyam Jewellery Online Store guarantees you that we will use your secluded information only for the purposes stated in this Privacy Policy. We will not rent or sell your personal information to unauthorized third parties. Additionally, we will avoid your email address from being recorded by web robots to the best of our ability. If you have found that your email address has been chronicled in this way, please let us know immediately.</p>
        <p>The time periods for which we recall your private information depend on the determinations for which we use it. We will keep the information for as long as you are a registered user of our products. </p>
        <h4>7. Children Privacy and Parental Consent </h4>
        <p>This site is meant for some with ages above 18 years. We do not take or collect information from some below 18 years knowingly or to the best of our knowledge. In circumstances where we take information from someone below 18 years, we will not share such data with any third party for further use without the consent of the parents. </p>
        <h4>8. Not Responsible for Other Website</h4>
        <p>Heeranyam Jewellery Online Store is not responsible for other websites which you are redirected to from our page. We are solely responsible for our website and its privacy policy.</p>
        <h4>9.  Prohibited Use </h4>
        <p>As a condition of your use of the website/mobile application/ platform, you agree that you will not use this website/mobile application or the information or software contained herein for any purpose that is unlawful or prohibited by these terms and conditions.</p>
        <h4>10. Linked Service </h4>
        <p>Our website is embedded with social media platforms such as Facebook, Instagram, Twitter, Pinterest, LinkedIn, or any other social media platform. We are not bound by their privacy policy and their policy may vary as per their own standard. Heeranyam is not responsible for their policy. </p>
        <h4>11. Disclaimer</h4>
        <p>Though we put take all possible efforts to safeguard the customer data and information using our website or mobile application, we deny all accountability for any kind of liabilities for error, omission, and any inadequacies of information contained.  Website data are subject to change as per the standard procedure we are not liable for any notification for such changes made on our website/Mobile App.</p>
        <p>We hereby declare that your use of our website is completely at your own risk. One should not keep us accountable for any issue which we are not responsible for and should not sue on using a website. </p>
        <p>The information, documentation, software, products, and services contained on the website/mobile application/platform are provided “as is” without any warranty of any kind. </p>
        <p>We shall not be liable for damages, whether direct, indirect, special, incidental, or consequential, as a result of the reproduction, modification, distribution, or use of the information, documentation, software, products, and services.</p>

    </div>
</section>